<%- include("../partials/head") %>
<div class="lightBlue">
    <div class="jumbotron jumbotron-fluid" style="background-color: lightsalmon">
        <div class="container">
          <h1 class="display-4">Gallery</h1>
          <p class="lead">See whats out there!</p>
          </div>
          </div>
    <h1><center>Gallery</center></h1>
    <div class="Gallery">
        <div id="artEntry">
        <% for(let i=0; i < allDetails.length; i++) { %> 

            <a href="images/<%= allDetails[i].img_path %>"><img src="images/<%= allDetails[i].img_path %>"></a>
            <button type="button" id="btn" class="btn btn-dark">Info</button>
            <div id="content">
                <h2>  <%= allDetails[i].artName %>  </h2>
                <p> <%= allDetails[i].address %> </p>
                <a href="<%= allDetails[i].link %>">Google Map Link</a>
            </div>
        <% } %>
        </div>
    </div>
    
</div>


</body>
<script src="/scripts.js"></script>

</html>